@{
    ViewBag.Title = "Contact Details";
}
<h2>@ViewBag.Title.</h2>

<address>
    Shuvayu Dhar<br />
    <abbr title="Phone">P:</abbr>
    0431 904 071
</address>

<address>
    <strong>Email ID:</strong> <a href="mailto:shuvayu.dhar@gmail.com">shuvayu.dhar@gmail.com</a>
</address>