@{
    ViewBag.Title = "Contact Page";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Shuvayu Dhar<br />
    <abbr title="Phone">P:</abbr>
    0431904071
</address>

<address>
    <strong>Email ID:</strong> <a href="mailto:shuvayu.dhar@gmail.com">shuvayu.dhar@gmail.com</a>
</address>